@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  --error-color: #ff4848;
  --gray-color: #525252;
  --hover-primary-color: #27457d;
  --primary-color: #3c558d;
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  font-optical-sizing: auto;
  margin: 0 auto;

  max-width: 1400px;
  overflow-y: scroll;
  padding: 0;
}

main {
  padding: 1rem;
}

header {
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 1px solid rgba(60, 86, 141, 0.3);
  display: flex;
  height: 70px;
  inset: 0;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  z-index: 10;

  & > div {
    align-items: center;
    display: flex;
    gap: 0.4rem;
    justify-content: space-between;
    width: 100%;

    @media (width > 1023px) {
      width: auto;
    }

    .btn-nav {
      background-color: transparent;
      border: none;
      color: var(--primary-color);

      @media (width > 1023px) {
        display: none;
      }
    }
  }

  nav {
    background-color: var(--primary-color);
    inset: 0;
    margin-top: 70px;
    position: fixed;
    transform: translateX(100%);
    transition: transform 100ms ease;

    &.nav-active {
      transform: translateX(0);
    }

    @media (width > 1023px) {
      background-color: transparent;
      margin-top: auto;
      position: static;
      transform: translateX(0%);
    }

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 1.5rem;
      padding: 0;

      @media (width > 1023px) {
        align-items: center;
        flex-direction: row;
        gap: 1rem;
      }

      li {
        list-style: none;

        a {
          color: white;
          text-decoration: none;

          @media (width > 1023px) {
            color: var(--primary-color);
            transition: color 300ms ease;

            &:hover {
              color: var(--hover-primary-color);
            }
          }

          &.active {
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }
  }

  h1 {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}

/* Clase general para resaltar texto */
.text-highlight {
  color: var(--primary-color);
  font-weight: bold;
}

.text-highlight-error {
  color: var(--error-color);
  font-weight: bold;
}

.available-keywords-container {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.5rem 0;

  & > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  select {
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    color: var(--primary-color);
    padding: 0.5rem;
    text-transform: uppercase;
  }

  .available-keywords-container-reset {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--error-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    transition: background-color 300ms ease;

    &:hover {
      color: rgb(255, 0, 0);
    }
  }

  @media (width > 1023px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.quotes-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 450px), 1fr));

  & div:nth-child(even) .quotes-article {
    background: linear-gradient(to left top, white 60%, rgba(60, 85, 141, 0.2));
  }

  .quotes-article {
    align-items: center;
    background: linear-gradient(to bottom right, white 60%, rgba(60, 85, 141, 0.2));
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px rgba(60, 85, 141, 0.4);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    min-height: 300px;
    padding: 0.5rem;
    position: relative;

    .quotes-article-quote {
      color: var(--primary-color);
      font-family: "DM Serif Text", serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-optical-sizing: auto;
      font-size: 20px;
      text-align: center;
      text-wrap: balance;

      @media (width > 1023px) {
        font-size: 24px;
      }
    }

    .quotes-article-author {
      color: var(--gray-color);
      font-style: italic;
    }

    .quotes-article-background-image {
      display: grid;
      opacity: 0.07;
      place-content: center;
      position: absolute;
      top: 50px;

      & img {
        width: 50px;
      }
    }

    .quotes-article-quote-keyword-match {
      background-color: transparent;
      border: none;
      bottom: 1rem;
      color: var(--gray-color);
      cursor: pointer;
      font-size: 0.8rem;
      position: absolute;
      right: 1.5rem;
      text-decoration: underline;

      span {
        font-style: italic;
        font-weight: bold;
      }
    }

    .btn-download-txt {
      background-color: transparent;
      border-radius: 2rem;
      border: none;
      color: var(--primary-color);
      cursor: pointer;
      font-size: 0.7rem;
      font-weight: bold;
      margin-top: 1rem;
      outline: 1px dashed var(--primary-color);
      padding: 0.4rem 0.8rem;
      text-transform: uppercase;
      transition: outline 300ms ease, color 300ms ease, background-color 300ms ease;

      &:hover {
        background-color: var(--primary-color);
        color: whitesmoke;
        outline: none;
      }

      span {
        align-items: center;
        display: flex;
        gap: 4px;
        justify-content: center;
      }
    }
  }
}

.without-quote-container {
  display: block;
  text-align: center;
  width: 100%;

  @media (width > 1023px) {
    text-align: start;
  }
}

.btn-up {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: none;
  bottom: 2rem;
  color: white;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: 2rem;
  transition: scale 300ms ease;
  width: 40px;

  &:hover {
    scale: 1.1;
  }
}

footer {
  align-items: center;
  background-color: whitesmoke;
  border-top: 1px solid rgba(60, 86, 141, 0.3);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100px;
  justify-content: center;

  @media (width > 1023px) {
    flex-direction: row;
  }

  a {
    color: var(--primary-color);
    font-weight: bold;
  }
}

.loader-container {
  display: grid;
  height: 100%;
  place-content: center;
  width: 100%;

  .loader {
    animation: rotate 1s linear infinite;
    border-radius: 50%;
    height: 32px;
    position: relative;
    width: 32px;

    &::before {
      animation: prixClipFix 2s linear infinite;
      border-radius: 50%;
      border: 2px solid var(--primary-color);
      box-sizing: border-box;
      content: "";
      inset: 0px;
      position: absolute;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* Animación fadeIn para animar la entrada de los childrens de QuotesContainer */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
